.place_libre
{
	
background-color:green;

}

.place_occupe
{
background-color:red;
}

.place_en_resa
{
background-color:blue;
}

.salle a{
	none;
}

ul.salle {
	
    list-style-type: none;
	padding: 0;
	display: flex;  
	    justify-content: center;
	margin:0px;


	
	
}

.salle li {
	width:20px;
	height:20px;
	 border: 1px solid black;

	 text-align:center;


}

.zone_salle{
	 border: 1px solid black;
	
}