
.sitetitle {
	font-family:verdana, sans-serif;
	font-variant: small-caps;
	color:#bcd5ff;
	font-size:50px;
	width:10em;
	text-align:center;
	margin-top:-100px;
	border: 6px;
	border-style: none solid solid none;
	border-color: silver;
	border-bottom-right-radius: 100px;
}